@{
  Layout = "_Layout";
}

<h1>Add a new order to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderDescription">Order Description</label>
  <input id="orderDescription" name="orderDescription" type="text">
  <label for="orderBreadCount">Order Bread Count</label>
  <input id="orderBreadCount" name="orderBreadCount" type="number" min="0" max="100">
  <label for="orderPastryCount">Order Pastry Count</label>
  <input id="orderPastryCount" name="orderPastryCount" type="number" min="0" max="100">
  <label for="orderDate">Order Date</label>
  <input id="orderDate" name="orderDate" type="date">
  <button type='submit'>Add Order</button>
</form>